* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 86%;
  min-height: 86%;
  max-height: 86%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid #000;
}

input:focus {
  outline: none;
  border: none;
}
